@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap');

:root{
    --bg: linear-gradient(#457fca, #5691c8);
    --bg-form: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    --color-1: #17202a;
    --color-2: #6C63FF;
    --color-3: #fff;
    --bg-error: #e91e63;
    --bg-correcto: #58d68d;
    --padding-size: 20px 40px;
    --text: 'Roboto', sans-serif;
    --title: 'Poppins', sans-serif;   
}

body{
    width: 100%;
    height: 100vh;
    font-family: var(--text);
    background-image: var(--bg);
}

.container{
    width: 100%;
    height: inherit;
}

.formulario{
    width: 60%;
    max-width: 1200px;
    margin: 60px auto 0;
    background-image: var(--bg-form);
    padding: var(--padding-size);
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0,0,0,.7);
}

.title{
    font-size: 2.4rem;
    font-family: var(--title);
    color: var(--color-1);
    text-align: center;
    padding: 5px 0;
    border-bottom: 4px solid var(--bg-correcto);
    margin-bottom: 40px;
}

.formulario-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

label{
    font-size: 1.4rem;
    font-family: var(--title);
    font-weight: 700;
    color: var(--color-1);
}

.subtitle{
    font-size: 1.4rem;
    font-weight: 700;
    font-family: var(--title);
    margin-bottom: 30px;
}

label:nth-child(2){
    font-family: var(--text);
    font-weight: 400;
}

label:nth-child(4){
    font-family: var(--text);
    font-weight: 400;
    margin-left: 30px;
}

select{
    margin-left: 10px;
    width: 200px;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: var(--text);
    color: var(--color-1);
}

.display{
    width: 100%;
    margin-top: 50px;
}

.button{
    width: 100%;
    margin-top: 90px;
}

.btn-submit{
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 15px 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    border-radius: 10px;
    background: var(--color-2);
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--title);
    font-weight: 400;
    color: var(--color-3);
    cursor: pointer;
}

.alerta{
    width: 60%;
    margin: 40px auto 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-3);
    padding: 10px;
}

.error{
    background: var(--bg-error);
}

.correcto{
    background: var(--bg-correcto);
}

.spinner{
    display: none;
}

.spinner.show-spinner{
    display: block;
}

.show-resultados{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 5px solid var(--bg-correcto);
    padding: 10px;
}

.p-title{
    font-size: 1.9rem;
    font-family: var(--title);
    font-weight: 700;
    color: var(--color-2);
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 4px solid var(--color-1);
    padding: 5px 0;
}

.paragraph{
    font-size: 20px;
    font-family: var(--title);
    font-weight: 600;
    color: var(--color-1);
}

span{
    font-size: 20px;
    font-weight: 400;
    color: var(--color-1);
    margin-left: 5px;
}

/*Responsive*/
@media screen and (max-width: 800px){
    .formulario{
        width: 90%;
    }

    .formulario-container{
        display: block;
    }

    .input-container{
        width: 100%;
        margin-bottom: 20px;
    }

    select{
        width: 250px;
    }

    .show-resultados{
        width: 100%;
    }

    .btn-submit{
        width: 100%;
    }
}

@media screen and (max-width: 520px){
    body{
        height: 100%;
    }

    .formulario{
        width: 100%;
        border-radius: 0px;
        padding: 20px 10px;
    }
    
    .title{
        font-size: 2rem;
    }

    label{
        font-size: 20px;
    }

    .subtitle{
        text-align: left;
    }

    .p-title{
        text-align: left;
    }
}